@import "util/variables";
@import "util/extends";
@import "util/functions";
@import "util/mixins";

@import "components/anchors";
@import "components/animations";
@import "components/buttons";
@import "components/calculators";
@import "components/cards";
@import "components/footers";
@import "components/forms";
@import "components/grid";
@import "components/headers";
@import "components/images";
@import "components/modals";
@import "components/navigation";
@import "components/testimonials";
@import "components/utility";
@import "components/videos";

@import "pages/sections";



*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // (10px / 16) * 100 = 62.5%
    scroll-behavior: smooth;


    @include responsive(tab_lan){
        font-size: 55%;   // (8px / 16) * 100 = 50%
    }

    @include responsive(tab_pot){
        font-size: 47%;   // (6px / 16) * 100 = 37.5%
        // font-size: 40%;   // (6px / 16) * 100 = 37.5%
    }

    @include responsive(mob_lan){
        font-size: 37%;   // (4px / 16) * 100 = 25%
    }

    @include responsive(mob_pot){
        font-size: 22%;   // (4px / 16) * 100 = 25%
    }

    @include responsive(mob_min){
        font-size: 16%;   // (4px / 16) * 100 = 25%
    }

    @include responsive(big_scr){
        font-size: 75%;   // (12px / 16) * 100 = 75%
    }
}

body {
    position: relative;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
    padding: .8rem;

}

































