@import "util/variables";
@import "util/extends";
@import "util/functions";
@import "util/mixins";

@import "components/animations";
@import "components/buttons";
@import "components/calculators";
@import "components/cards";
@import "components/footers";
@import "components/forms";
@import "components/grid";
@import "components/headers";
@import "components/images";
@import "components/testimonials";
@import "components/utility";
@import "components/videos";

@import "pages/about";



*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
    padding: .8rem;
}






























