.anchors {
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 25;

    filter: drop-shadow(0 0 .4rem rgba($color-4, .4));
    &__to-top {
        width: 2rem;
        height: 2rem;
        display: none;
        background-color: $color-3;
        text-decoration: none;
        clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 50%);
    }
    
    &__to-bottom {
        width: 2rem;
        height: 2rem;
        display: inline-block;
        margin-top: 1rem;
        background-color: $color-3;
        text-decoration: none;
        clip-path: polygon(50% 100%, 0 50%, 0 0, 100% 0, 100% 50%);
    }
    
    &__to-top, &__to-bottom {

        &:hover {
            background-color: $color-1;
        }
        &:active {
            background-color: $color-8;
        }
    }
}