.section-list {
    display: flex;
    position: relative;
    max-width: 58rem;
    
    
    @include responsive(tab_pot){
        width: 100%;
        display: inline-block;
        position: absolute;
        bottom: 1.2%;
        left: 50%;
        transform: translateX(-50%);
    }

    @include responsive(mob_lan){
        max-width: 51rem;
    }

    @include responsive(mob_min){
        max-width: 60rem;
    }


    &__first-div {
        width: 100%;

        @include responsive(tab_pot){
            display: flex;
            justify-content: space-between;
        }
    }

    &__second-div {
        position: absolute;
        left: 60%;


        @include responsive(tab_pot){
            position: relative;
            left: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }


    &__first {
        color: $color-3;
        text-decoration: none;
        font-size: $font-size-small;
        transition: all .1s;
        font-weight: 600;
        transition: all .1s;
        
        
        @include responsive(mob_lan){
                font-weight: 400;
        }

        @include responsive(mob_lan){
            font-size: $font-size-extra-small;
                font-weight: 500;
        }

        @include responsive(mob_pot){
            font-size: $font-size-ultra-small;
                font-weight: 400;
        }
            
        @include responsive(mob_min){
            font-weight: 300;
        }

        
        &:hover {
            letter-spacing: .2rem;
            color: $color-1;
            font-weight: 700;
        }
        
    }
    
    &__second {
        @extend .section-list__first;
    }
}


.line {
    width: .2rem;
    height: 50rem;
    background-color: $color-1;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%);
    
    
    
    @include responsive(tab_pot){
        width: 70%;
        min-width: 70rem;
        height: .2rem;
        background-color: $color-1;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%);
    }
    
    @include responsive(mob_lan){
        width: 70%;
        min-width: 58rem;
    }
    
    @include responsive(mob_pot){
        width: 65%;
        min-width: 58rem;
    }
    
    @include responsive(mob_min){
        width: 80%;
        min-width: 58rem;
    }
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;


    @include responsive(tab_pot){
        margin-bottom: -2%;
    }
    
    @include responsive(mob_min){
        margin-bottom: 3%;
    }


    &__logo-box {

        &--logo {
            width: 15rem;
        }
    }

    &__address {


        &--cname {
            font-size: 2.5rem;
            color: $color-1;
        }

        &--caddress {
            font-size: 1.8rem;
            color: $color-3; 
        }

        &__numbers {
            color: $color-3;
            font-size: 1.5rem;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            max-width: 38rem;
            margin: 0 auto;
            margin-bottom: 1rem;
            
            
            @include responsive(mob_pot){
                max-width: 43rem;
            }
            
            @include responsive(mob_min){
                max-width: 60rem;
            }

            &__first {
                
                
                &--n1 {
                    display: block;
                }

                &--n2 {
                    color: $color-1;
                }
            }

            &__second {
                
                
                &--n1 {
                    display: block;
                }

                &--n2 {
                    color: $color-1;
                }
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        padding: 0 8rem;
        width: 100%;
        
        
        @include responsive(mob_min){
            width: 115%;
        }

        &__images {

            &--icons {
                width: 4rem;
                transition: all .1s;
                
                
                @include responsive(mob_pot){
                    width: 3rem;
                }
                
                @include responsive(mob_min){
                    width: 3.5rem;
                }
                
                &:hover {
                    transform: scale(1.2);
                    filter: grayscale(100%) drop-shadow(.1rem .1rem .3rem rgba(black, .8));
                }

            }
        }
    }

}


