.join-form {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 58%;
    padding: 3rem 3rem 3rem 6rem;
    
    
    @include responsive(tab_pot){
        width: 100%;
        padding: 2rem;
    }


    &__input {
        font-size: $font-size-extra-small;
        position: relative;

        
        &--name, &--email, &--mobile, &--age {
            display: block;
            padding: .8rem 1.5rem .65rem .5rem;
            width: 85%;
            font-size: inherit;
            outline: none;
            border: none;
            background-color: $color-3;
            font-family: inherit;
            border-radius: .2rem;
            border-bottom: .15rem solid transparent;
            transition: all .1s;
            -moz-appearance: textfield;   
            
            
            @include responsive(tab_pot){
                width: 100%;
            }
            
            &::-webkit-input-placeholder {
                font-size: inherit;
                font-family: inherit;
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }

            &:hover {
                box-shadow: 0 0 .3rem rgba($color-4, .5);
            }

            &:focus {
                box-shadow: 0 0 .3rem rgba($color-4, .5);
                border-bottom: .15rem solid transparent;
                
                &:invalid {
                    border-bottom: .15rem solid $color-2;
                    animation: shake .3s ease-in;
                    transition: all .3s ease-in;
                }
                
                &:valid {
                    border-bottom: .15rem solid $color-7;
                }
            }

            &:placeholder-shown + .join-form__input--label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-3.1rem);
            }

            
        }

        &--label {
            margin-left: .5rem;
            display: inline-block;
            transition: all .4s;
            margin-right: 2rem;
        }

        &--span {
            margin-right: 1.5rem;
            display: inline-block;
            font-size: $font-size-extra-small;
            
            
            @include responsive(mob_pot){
                display: block;
            }
        }
        
        &--input-age {
            padding: .8rem .5rem .65rem .5rem;
            width: 24%;


            
            @include responsive(tab_pot){
                width: 31%;
            }

            @include responsive(mob_lan){
                width: 27%;
            }

            @include responsive(mob_pot){
                width: 35%;
            }
            
            @include responsive(mob_min){
                width: 48%;
            }
        }
        
        &--joining-date {
            padding: .8rem .5rem .65rem .5rem;
            width: 46%;
            background-color: $color-3;
            display: inline-block;


            
            @include responsive(tab_pot){
                width: 64%;
            }

            @include responsive(mob_lan){
                width: 59%;
            }

            @include responsive(mob_pot){
                width: 60%;
            }

            @include responsive(mob_min){
                width: 46%;
            }

            &--label {
                display: inline-block;
            }
        }
        
        &--shift-timing {
            padding: .8rem .5rem .65rem .5rem;
            width: 62%;
            background-color: $color-3;
            display: inline-block;
            
            
            @include responsive(tab_pot){
                width: 78.5%;
            }

            @include responsive(mob_lan){
                width: 75.5%;
            }

            @include responsive(mob_pot){
                width: 76.2%;
            }
            
            @include responsive(mob_min){
                width: 68%;
            }
        }
        
        &--select-package {
            padding: .8rem .5rem .65rem .5rem;
            width: 56.5%;
            background-color: $color-3;
            display: inline-block;
            
            
            @include responsive(tab_pot){
                width: 73.5%;
            }

            @include responsive(mob_lan){
                width: 69.5%;
            }

            @include responsive(mob_pot){
                width: 70.5%;
            }

            @include responsive(mob_min){
                width: 60.5%;
            }
        }


    }


    
    
    &--radio1 {
        margin-top: -6.5rem;
        margin-left: 14rem;
        
        
        @include responsive(tab_pot){
            margin-left: 22rem;
        }

        @include responsive(mob_lan){
            margin-left: 16rem;
        }

        @include responsive(mob_pot){
            margin-top: -8.5rem;
            margin-left: 32rem;
        }

        @include responsive(mob_min){
            margin-top: -10.7rem;
            margin-left: 32rem;
        }
    }

    .condition {
        font-size: 1.1rem;
        color: $color-8;
    }

    
    

}



.joining {
    position: relative;
    margin-top: -75rem;
    padding: 75rem 20rem 27rem 20rem;
    background-image: linear-gradient(to right bottom, $color-1, $color-2);
    clip-path: polygon(0 23%, 100% 0%, 100% 76%, 0 100%);
    
    
    &__join {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        transition: all ease-in .3s;
        
        
        @include responsive(tab_lan){
            width: 90%;
        }
        
        @include responsive(tab_pot){
            top: 45%;
        }
        
        @include responsive(mob_lan){
            top: 47%;
        }

        @include responsive(mob_min){
            top: 45%;
        }
    }
    
    
    @include responsive(tab_lan){
        margin-top: -79rem;
    }

    @include responsive(tab_pot){
        margin-top: -85rem;
        clip-path: polygon(0 11%, 100% 0%, 100% 76%, 0 87%);
    }

    @include responsive(mob_lan){
        margin-top: -88rem;
        padding: 90rem 20rem 27rem 20rem;
        clip-path: polygon(0 16.7%, 100% 0%, 100% 76%, 0 93.3%);
    }

    @include responsive(mob_pot){
        margin-top: -96rem;
        padding: 90rem 20rem 27rem 20rem;
        clip-path: polygon(0 16.7%, 100% 0%, 100% 76%, 0 93.3%);
    }

    @include responsive(mob_min){
        margin-top: -103rem;
        padding: 70rem 20rem 43rem 20rem;
        clip-path: polygon(0 14%, 100% 0%, 100% 76%, 0 90.2%);
    }
    
}


#join-form-1 {
    display: block;
}

#join-form-2 {
    display: none;
}


