// COLOR

// $color-1: #2600fb;
$color-1: #fbe700;
$color-2: #fb0000;
$color-3: #ffffff;
$color-4: #000000;
$color-5: #49493f;
$color-6: #ebebe8;
$color-7: #33d633;
$color-8: #ff4500;

// FONT

$font-size-extra-large: 8rem;
$font-size-large: 6rem;
$font-size-intra-large: 5.5rem;
$font-size-medium: 4rem;
$font-size-ultra-medium: 2.5rem;
$font-size-small: 2rem;
$font-size-extra-small: 1.5rem;
$font-size-ultra-small: 1.3rem;
$font-size-mini: 1.2rem;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-tab-pot: 10rem;


















