.button--txt {
    &:link, &:visited {
        position: relative;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-small;
        letter-spacing: .3rem;
        background-color: $color-3;
        color: $color-5;
        border-radius: 5rem;
        padding: .2rem 2.5rem;
        transition: all .1s;
        animation-name: bottomToTop;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }
    
    &:hover {
        background-color: $color-1;
        color: $color-3;
        box-shadow: 0 1rem 2rem rgba($color-4, .4);
        
        &::after {
            transform: scaleX(1.5) scaleY(2.5);
            background-color: $color-1;
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(.2rem);
        backface-visibility: hidden;
        box-shadow: 0 .5rem .5rem rgba($color-4, .4);
    }
    
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-3;
        border-radius: 5rem;
        z-index: -1;
        transition: all .3s;
    }    

    &--learn1 {
        @include btn($color-1, $color-2, $color-2, $color-3, $font-size-small, .3rem, 1.5rem);
        border-radius: 50rem;
    }
    
    &--learn2 {
        @include btn($color-2, $color-3, $color-1, $color-3, $font-size-extra-small, .3rem, 1.5rem);    
    }

    &--view {
        @include btn($color-2, $color-3, $color-1, $color-3, $font-size-small, .3rem, 1.5rem);
        border-radius: 50rem;
    }

    &--next {
        @include btn($color-1, $color-5, $color-2, $color-3, $font-size-small, .5rem, 5rem);
        border-radius: 50rem;
        margin-top: 3rem;
        margin-left: 15rem;
        cursor: pointer;
    }

    &--submit {
        @include btn($color-1, $color-5, $color-7, $color-3, $font-size-small, .5rem, 3rem);
        border-radius: 50rem;
        // margin-top: 3rem;
        margin-right: 5rem;
        cursor: pointer;
    }

    &--clear {
        @include btn($color-1, $color-5, $color-8, $color-3, $font-size-small, .5rem, 3rem);
        border-radius: 50rem;
        // margin-top: 3rem;
        // margin-left: 5rem;
        cursor: pointer;
    }

    &--modal {
        @include btn($color-1, $color-5, $color-8, $color-3, $font-size-small, .5rem, 3rem);
        border-radius: 50rem;
        // margin-top: 3rem;
        // margin-left: 5rem;
        cursor: pointer;
    }
    
    &--join-next {
        @include btn($color-1, $color-5, $color-8, $color-3, $font-size-small, .6rem, 3rem);
        border-radius: 50rem;
        // margin-top: 3rem;
        margin-left: 8rem;
        cursor: pointer;        
    }

    &--join-back {
        @include btn($color-1, $color-5, $color-8, $color-3, $font-size-small, .6rem, 3rem);
        border-radius: 50rem;
        // margin-top: 3rem;
        margin-left: 5rem;
        cursor: pointer;
        
        &--1 {
            @include btn($color-1, $color-5, $color-8, $color-3, $font-size-small, .2rem, 3rem);
            border-radius: 50rem;
            // margin-top: 3rem;
            margin-left: 5rem;
            cursor: pointer;
        }
    }

}



.button--radio {
    &__radio {
        margin-bottom: 3rem;

        &--input {
            opacity: 0;
            width: 0;

            
            &-custom {
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50rem;
                border: .3rem solid $color-8;
                position: absolute;
    
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: .29rem;
                    left: .29rem;
                    width: 70%;
                    height: 70%;
                    border-radius: 50rem;
                    background-image: radial-gradient( $color-1, $color-2 90%);
                    transform: scale(0);
                    transition: all .3s;
                }
    
            }

        }

        &--label {
            font-size: $font-size-extra-small;
            margin-left: 3.5rem;
            margin-right: 2.5rem;
            cursor: pointer;
            position: relative;

            &:hover {
                color: $color-2;
            }
        }

        &--input:checked + &--input-custom::after {
            transform: scale(1);
        }

    }
}

.buttons {
    position: relative;
}



