.features__headline {
    background-color: rgba($color-3, .6);
    width: 100%;
    padding: 2rem 0 3rem 0;
    transition: all .1s;
    
    
    @include responsive(tab_pot){
        padding: 3rem 2rem 4rem 2rem;
    }
    
    &__head1 {
        color: $color-2;
        font-size: $font-size-small;
        
        &--sub1 {
            color: $color-5;
            padding: 0 2rem;
            font-size: $font-size-extra-small;
            margin: 1rem 0 2rem 0;
        }
    }
    
    &:hover {
        background-color: rgba($color-3, .8);
        transform: translateY(-2rem) scale(1.05);
        box-shadow: 0 1rem 2rem rgba($color-4, .6);
    }
    
    .fa {
        background-image: linear-gradient(to right bottom, $color-1, $color-2);
        -webkit-background-clip: text;
        color: transparent;
        font-size: $font-size-large;
        margin-bottom: 3rem;
    }
    
}


.packages__details {
    perspective: 200rem;
    -moz-perspective: 200rem;
    
    &__sides {
        position: relative;
        backface-visibility: hidden;
        background-color: $color-3;
        box-shadow: 0 1rem 2rem rgba($color-4, .6);
        height: 54rem;
        transition: all ease-in .4s;
        
        &--back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5));
            padding-top: 18rem;         
            transform: rotateY(180deg);
            
            .button--txt--cards {
                &:link, &:visited {
                    display: none;                    
                }
            }
            
        }
    }
    
    &:hover &__sides--front {
        transform: rotateY(-180deg);
    }
    
    &:hover &__sides--back {
        transform: rotateY(0deg);
        overflow: hidden;
        
        .button--txt--cards {
            &:link, &:visited {
                display: inline-block;
                text-decoration: none;
                font-size: 2.5rem;
                background-color: $color-3;
                font-weight: 600;
                border-radius: 50rem;
                padding: .5rem 4rem;
                color: $color-5;
                box-shadow: 0 .2rem .5rem rgba($color-4, .5);
                transition: all ease-in .1s;
                backface-visibility: hidden;
                animation: bottomToTop .4s ease-in .1s backwards;
                
                
                &:hover {
                    background-color: $color-1;
                    color: $color-3;
                    box-shadow: 0 .5rem .8rem rgba($color-4, .5);
                    transform: translateY(-.4rem);                    
                }
                
                &:active {
                box-shadow: 0 .2rem .5rem rgba($color-4, .5);
                transform: translateY(0);
                }
            }
        }        
        
    }


    &__images {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25rem;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        background-blend-mode: hard-light;

        &--image1{
            background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/anastase-maragos-7kEpUPB8vNk-small.jpg");


            @media (min-width: 441px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/anastase-maragos-7kEpUPB8vNk-medium.jpg");
            }
            
            @media (min-resolution: 192dpi) and (min-width: 321px), (min-width: 770px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/anastase-maragos-7kEpUPB8vNk-large.jpg");
            }

            @media (min-resolution: 192dpi) and (min-width: 1920px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/anastase-maragos-7kEpUPB8vNk-extra-large.jpg");
            }
        }

        &--image2{
            background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/bruce-mars-gJtDg6WfMlQ-small.jpg");


            @media (min-width: 441px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/bruce-mars-gJtDg6WfMlQ-medium.jpg");
            }
            
            @media (min-resolution: 192dpi) and (min-width: 321px), (min-width: 770px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/bruce-mars-gJtDg6WfMlQ-large.jpg");
            }

            @media (min-resolution: 192dpi) and (min-width: 1920px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/bruce-mars-gJtDg6WfMlQ-extra-large.jpg");
            }
        }

        &--image3{
            background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/jelmer-assink-gzeTjGu3b_k-small.jpg");


            @media (min-width: 441px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/jelmer-assink-gzeTjGu3b_k-medium.jpg");
            }
            
            @media (min-resolution: 192dpi) and (min-width: 321px), (min-width: 770px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/jelmer-assink-gzeTjGu3b_k-large.jpg");
            }

            @media (min-resolution: 192dpi) and (min-width: 1920px) {
                background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url("../Images/jelmer-assink-gzeTjGu3b_k-extra-large.jpg");
            }
        }
        
    }


    &__headline {
        position: absolute;
        display: inline-block;
        transform: translateX(-50%);
        font-size: $font-size-medium;
        top: 0;
        margin-top: 8rem;
        color: $color-3;
    }

    &__list {
        font-size: $font-size-extra-small;
        padding: 0 5rem;
        
        &--listitems {
            list-style: none;
            text-align: left;
            height: 2.5rem;

            &--subhead {
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: .1rem;
                text-align: center;
                color: $color-2;
                margin-top: -.8rem;
                margin-bottom: .3rem;
            }
        }
    }

    .fa-check {
        color: $color-7;
        font-size: $font-size-small;
        margin-right: .8rem;
    }

    &__price {
        font-size: $font-size-extra-large;
        font-weight: 400;
        color: $color-3;
        text-shadow: 0 .2rem .5rem rgba($color-4, .5);
        margin-bottom: 3rem;
    }






    @include responsive(tab_pot){
        
        box-shadow: 0 1rem 2rem rgba($color-4, .6);
        background-color: $color-3;

        &__sides {
            box-shadow: none;
            height: 18rem;
            position: relative;
            top: 0;
            left: 0;
            
            &--front {
                height: 54rem;
            }
            
            &--back {
                position: relative;
                clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
                padding-top: 2rem;         
                transform: rotateY(0deg);
                
                &-1 {
                    margin-top: -13rem;
                }

                &-2 {
                    margin-top: -8.5rem;
                }

                &-3 {
                    margin-top: -2.5rem;
                }
                
                .button--txt--cards {
                    &:link, &:visited {
                        display: block;                    
                    }
                }
                
            }
        }
        

        &:hover &__sides--front {
            transform: rotateY(0deg);
        }

            
        .button--txt--cards {
            &:link, &:visited {
                display: inline-block;
                text-decoration: none;
                font-size: 2rem;
                background-color: $color-3;
                font-weight: 600;
                border-radius: 50rem;
                padding: .5rem 4rem;
                color: $color-5;
                box-shadow: 0 .2rem .5rem rgba($color-4, .5);
                transition: all ease-in .1s;
                backface-visibility: hidden;
                animation: bottomToTop .4s ease-in .1s backwards;
                margin-top: -2rem;
            }
        }
    
        &__price {
            font-size: $font-size-large;
            margin-bottom: 2rem;
        }       


    }


    @include responsive(mob_lan){
        &__price {
            font-size: $font-size-large;
            margin-bottom: 1.5rem;
        }
    }

    @include responsive(mob_pot){
        &__price {
            font-size: $font-size-large;
            margin-bottom: 1rem;
        }
    }

    @include responsive(mob_min){
        &__price {
            font-size: $font-size-large;
            margin-bottom: .5rem;
        }
    }

}

