.join-form {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 57%;
    padding: 3rem 0rem 3rem 10rem;

    &__input {
        font-size: $font-size-extra-small;
        position: relative;

        
        &--name, &--email, &--mobile, &--age {
            display: block;
            padding: .8rem 1.5rem .65rem .5rem;
            width: 85%;
            font-size: inherit;
            outline: none;
            border: none;
            font-family: inherit;
            border-radius: .2rem;
            border-bottom: .15rem solid transparent;
            transition: all .1s;            
            
            &::-webkit-input-placeholder {
                font-size: inherit;
                font-family: inherit;
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }

            &:hover {
                box-shadow: 0 0 .3rem rgba($color-4, .5);
            }

            &:focus {
                box-shadow: 0 0 .3rem rgba($color-4, .5);
                border-bottom: .15rem solid transparent;
                
                &:invalid {
                    border-bottom: .15rem solid $color-2;
                    animation: shake .3s ease-in;
                    transition: all .3s ease-in;
                }
                
                &:valid {
                    border-bottom: .15rem solid $color-7;
                }
            }

            &:placeholder-shown + .join-form__input--label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-3.1rem);
            }

            
        }

        &--label {
            margin-left: .5rem;
            display: inline-block;
            transition: all .4s;
            margin-right: 2rem;
        }

        &--span {
            margin-right: 1.5rem;
            display: inline-block;
            font-size: $font-size-extra-small;
        }

        &--input-age {
            padding: .8rem .5rem .65rem .5rem;
            width: 24%
        }

        &--joining-date {
            padding: .8rem .5rem .65rem .5rem;
            width: 46%;
            display: inline-block;
            
            
            &--label {
                display: inline-block;
            }
        }
        
        &--shift-timing {
            padding: .8rem .5rem .65rem .5rem;
            width: 62%;
            display: inline-block;
        }

        &--select-package {
            padding: .8rem .5rem .65rem .5rem;
            width: 56.5%;
            display: inline-block;
        }


    }


    &--radio1 {
        margin-top: -6.5rem;
        margin-left: 14rem;
    }

    .condition {
        font-size: 1.1rem;
        color: $color-8;
    }

    
    

}



.joining {
    position: relative;
    margin-top: -75rem;
    padding: 75rem 20rem 27rem 20rem;
    background-image: linear-gradient(to right bottom, $color-1, $color-2);
    clip-path: polygon(0 23%, 100% 0%, 100% 76%, 0 100%);


    &__join {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        transition: all ease-in .3s;
    }
}


#join-form-1 {
    display: block;
}

#join-form-2 {
    display: none;
}


