.header {
    position: relative;
    z-index: 3;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-1, .5), rgba($color-2, .5)), url(../Images/man-1282232_1920.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);
    
    @include responsive(tab_pot){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
        
    }
    
    @include responsive(mob_lan){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 94.4%);
    }
    
    @include responsive(mob_pot){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 94.4%);
    }
    
    @include responsive(mob_min){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 93.7%);
    }
    
    &__logo {
        cursor: pointer;
        height: 16vh;

        @include responsive(mob_lan){
            height: 13vh;
        }

        @include responsive(mob_pot){
            height: 12vh;
        }

        @include responsive(mob_min){
            height: 11vh;
        }

        @include responsive(big_scr){
            height: 25vh;
        }

        &--box {
            position: absolute;
            top: .7vh;
            left: 1vw;
    
            @include responsive(mob_min){
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
    &__text--box {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;



        @include responsive(mob_min){
            top: 37%;
        }
    }

}


.headline {
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &--head1 {
        color: $color-1;
        display: block;
        font-weight: 700;
        font-size: $font-size-extra-large;
        letter-spacing: .5rem;
        line-height: 7rem;
        text-shadow: .2rem .2rem .8rem rgba($color-4, .5);
        animation-name: leftToRight;
        animation-duration: 1s;


        @include responsive(tab_pot){
            font-size: 7.8rem;
            letter-spacing: .3rem;
        }

        @include responsive(mob_lan){
            font-size: 7.7rem;
            letter-spacing: 0;
            line-height: 7.5rem;
        }

        @include responsive(mob_pot){
            line-height: 8.3rem;
        }

        @include responsive(mob_min){
            display: none;
        }

    }
    
    &--head2 {
        display: block;
        font-weight: 500;
        font-size: $font-size-small;
        letter-spacing: .67rem;
        line-height: 2rem;
        text-shadow: 0rem .2rem .2rem rgba($color-4, .5);
        color: $color-3;
        animation-name: bottomToTop;
        animation-duration: .8s;
        animation-timing-function: ease-in;
        margin-bottom: 2.5rem;


        @include responsive(tab_pot){
            font-size: 1.8rem;
        }

        @include responsive(mob_lan){
            font-size: 2.2rem;
            letter-spacing: 0.25rem;
        }

        @include responsive(mob_pot){
            font-size: 2.8rem;
            letter-spacing: 0.05rem;
        }

        @include responsive(mob_min){
            display: none;
        }

    }

}

.headline__about {
    @include headline-style($color-1, $color-2);

    &--head1 {
        color: $color-1;
        font-size: $font-size-ultra-medium;
        font-weight: 500;

        &--sub1 {
            display: inline-block;
            color: $color-2;
            font-size: $font-size-small;
            font-weight: 400;
            margin-bottom: 2rem;
        }
    }
}

.headline__feature {
    @include headline-style($color-1, $color-2);
}

.headline__packages {
    @include headline-style($color-1, $color-2);
}

.headline__testimonials {
    @include headline-style($color-1, $color-2);
    margin-bottom: 2rem;
}

.headline__tools {
    @include headline-style($color-7, $color-1);
}

.headline__modal {
    @include headline-style($color-1, $color-2);
    margin-top: 3.5rem;
    font-size: 3rem;
}



