.testimonials-box {
    background-color: rgba($color-3, .5);
    box-shadow: 0 .3rem .3rem rgba($color-4, .3);
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    font-size: $font-size-extra-small;
    transform: skewX(-15deg);
    transition: all ease-in .1s;
    
    & > * {
        transform: skewX(15deg);
    }
    
    &__circle {
        width: 10rem;
        height: 10rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin-right: 3rem;
        position: relative;
        overflow: hidden;

        
    }
    
    &__images {

        &--image1 {
            width: 100%;
            transition: all ease-in .3s;
            filter: blur(.1rem) brightness(60%);
        }

        &--image2 {
            width: 100%;
            transition: all ease-in .3s;
            transform: scale(1.4) translate(-5%, 10%) ;
            filter: blur(.1rem) brightness(60%);
        }
    }
    
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
        color: $color-3;
        font-size: $font-size-extra-small;
        line-height: 2rem;
        transition: all ease-in .3s;
    }
    
    &__head {
        color: $color-5;
    }
    
    &:hover &__caption {
        transform: translate(-50%, 70%);
    }
    
    &:hover &__images {

        &--image1{
            transform: scale(1.2);
            filter: blur(0) brightness(90%);
        }

        &--image2{
            transform: scale(1.2);
            transform: scale(1.8) translate(-5%, 10%);
            filter: blur(0) brightness(80%);
        }
    }

    &:hover {
        box-shadow: -.8rem .3rem .8rem rgba($color-4, .3);
        transform: translateX(1rem) skewX(-15deg);
    }

    &:not(:last-child){
        margin-bottom: 5rem;
    }

}

