%space-grid {
    // background-color: $color-2;
    float: left;
    
    &:not(:last-child){
        margin-right: $gutter-horizontal;
    }

}

%hover-image {
    box-shadow: 0 1rem 2.5rem rgba($color-4, 1);
    outline: .7rem solid $color-1;
    outline-offset: .7rem;
    z-index: 2;
}
